.header-wrapper .material-icons{
  margin-right: 15px;
  vertical-align: text-top;
}

.header-wrapper h1 {
  font-family: 'Roboto Mono', monospace;
}

#header-nav {
  position: absolute;
  right: 0;
  top: -16px;
}

#header-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#header-nav ul li {
  display: inline-block;
  text-align: center;
  transform: translateZ(0);
}

#header-nav ul li a {
  color: #fff;
  display: inline-block;
  line-height: 64px;
  position: relative;
  transition: color .1s cubic-bezier(.4,0,.2,1);
  text-decoration: none;
  padding: 0 16px;
}
