<mat-toolbar color="accent">
  <app-header></app-header>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>

    <main id="content" class="margin-20">
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Atualizações">

          <div class="padding-20">

            <mat-card class="simple-card mt-20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <img class="card-thumb" mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71PpIeTcuaL._CR288,0,1154,1154_UX256.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed<br><span>Some foobar</span></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="mt-20">
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-stroked-button style="margin-right: 5px">Curtir</button>
                <button mat-stroked-button>Compartilhar</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="simple-card mt-20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <img class="card-thumb" mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71PpIeTcuaL._CR288,0,1154,1154_UX256.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="mt-20">
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-stroked-button style="margin-right: 5px">Curtir</button>
                <button mat-stroked-button>Compartilhar</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="simple-card mt-20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <img class="card-thumb" mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71PpIeTcuaL._CR288,0,1154,1154_UX256.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="mt-20">
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-stroked-button style="margin-right: 5px">Curtir</button>
                <button mat-stroked-button>Compartilhar</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="simple-card mt-20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <img class="card-thumb" mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71PpIeTcuaL._CR288,0,1154,1154_UX256.jpg" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="mt-20">
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-stroked-button style="margin-right: 5px">Curtir</button>
                <button mat-stroked-button>Compartilhar</button>
              </mat-card-actions>
            </mat-card>

          </div>

        </mat-tab>
        <mat-tab label="Seguindo"> Content 2 </mat-tab>
      </mat-tab-group>
    </main>

    <!--<main id="content" style="margin: 20px">
      <p>content here!</p>
      <h3>Raised Buttons</h3>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div>
    </main>-->

  </mat-sidenav-content>

</mat-sidenav-container>

<!--<mat-toolbar class="example-footer">Footer</mat-toolbar>-->
